{%extends 'base.html' %}
{%block content%}
<header class="bg-dark py-5"></header>
<div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">About us</h1>
        <p class="lead fw-normal text-black-50 mb-0">this is webshop from tres amigos who are trying to make more side
            monney with dinsar doo</p>
    </div>
</div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p allign="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in lorem commodo, molestie tellus vel,
                    condimentum libero. Donec facilisis in urna imperdiet auctor. Pellentesque convallis pulvinar
                    sodales.
                    Donec posuere finibus mi vel varius. Ut venenatis mauris est, a volutpat urna fringilla sed.
                    Maecenas
                    fringilla urna sit amet neque lobortis molestie. Cras lacinia molestie lobortis. Maecenas mollis non
                    leo
                    et pellentesque. Morbi hendrerit mattis magna, vel lacinia orci consectetur dapibus. Mauris
                    molestie,
                    elit in ullamcorper efficitur, quam mauris fermentum diam, quis accumsan massa sapien nec enim.
                    Aliquam
                    vehicula purus sem. In consequat nulla eget diam convallis, vitae dapibus mauris ultricies. Maecenas
                    semper metus est, in vestibulum ligula accumsan rutrum. Quisque nunc lacus, interdum ac ipsum ac,
                    finibus cursus urna. Ut suscipit lobortis rhoncus.

                    Nunc quis leo venenatis, sollicitudin elit eu, elementum nisi. Phasellus id risus porttitor, porta
                    lorem
                    id, euismod felis. In hac habitasse platea dictumst. Aliquam at mauris neque. Suspendisse sagittis
                    purus
                    eros, quis sodales orci vulputate at. Duis vel eros urna. Pellentesque ornare tincidunt ex, et
                    volutpat
                    quam pulvinar ac. Etiam quis imperdiet purus. Nullam viverra porta leo, non viverra augue bibendum
                    et.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec
                    ullamcorper in quam ac pellentesque. Ut dignissim, ex nec tincidunt pharetra, felis elit rutrum
                    eros,
                    nec fermentum justo arcu ultricies neque.

                    Praesent sodales blandit odio quis posuere. Nunc blandit semper convallis. Suspendisse faucibus dui
                    id
                    vulputate rutrum. Duis vitae aliquet odio. Etiam tincidunt erat vitae libero semper ornare. Aliquam
                    pharetra, mauris vitae posuere pulvinar, magna libero dignissim sem, ac dapibus sapien metus ac ex.
                    Curabitur at justo malesuada, aliquet odio vel, eleifend neque. Sed rhoncus ultrices tortor, eu
                    rutrum
                    nisi porttitor et. Sed vestibulum leo nec elit bibendum, quis vulputate nunc consequat. Pellentesque
                    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam a gravida
                    justo.

                    Donec dignissim facilisis nulla, vitae accumsan est congue in. Maecenas sodales turpis ac
                    sollicitudin
                    placerat. Phasellus et enim sed turpis vehicula tristique. Donec porta neque in lorem mollis
                    tristique.
                    Nunc sed semper odio. Nullam imperdiet porta lacus non faucibus. Sed sed erat bibendum, bibendum est
                    in,
                    lacinia tortor. Fusce in est a libero elementum interdum. Aliquam erat volutpat. Curabitur eget
                    bibendum
                    sem, a laoreet dolor. Morbi feugiat ante massa, sed ultricies tortor ornare vitae. Integer risus
                    ante,
                    gravida at facilisis a, accumsan id nunc. Quisque pharetra imperdiet massa et scelerisque. Maecenas
                    risus libero, viverra eleifend aliquam eu, gravida a dui. Quisque pharetra libero nunc, et dictum
                    velit
                    efficitur ac. Nullam nec odio bibendum, faucibus purus eu, rhoncus risus.

                    Maecenas interdum ex a nulla sagittis pretium at ullamcorper erat. Sed cursus ex sem, sagittis
                    semper
                    sapien semper molestie. Pellentesque at leo ipsum. In pulvinar lorem non massa mollis, sit amet
                    tempor
                    orci imperdiet. Phasellus egestas est quis lacus cursus tempor. Donec rutrum felis eget pellentesque
                    faucibus. Praesent vestibulum libero non pulvinar sagittis. Sed fermentum ipsum vitae ipsum cursus
                    malesuada. Proin blandit enim ac diam varius, vel cursus turpis hendrerit. Morbi fringilla orci ut
                    eros
                    varius sagittis. Praesent sed arcu sem. Nullam in tempor neque, sit amet tempus nulla. Mauris mi
                    turpis,
                    suscipit sit amet nibh at, vulputate pretium dui. Morbi sit amet gravida magna, eget semper lorem.
                </p>
            </div>
        </center>
    </div>
</div>
{%endblock%}