{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Processing order</h1>
            <p class="lead fw-normal text-white-50 mb-0">this is temporary</p>
        </div>
    </div>
</header>

<!-- Main content -->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Order Summary Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Order Summary
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                    <p>{{ product.name }}:
                        {% if product.is_sale %}
                        ${{ product.sale_price }}
                        {% else %}
                        ${{ product.price }}
                        {% endif %}
                    </p>
                    <small>Quantity:
                        {% for key, value in quantities.items %}
                        {% if key == product.id|slugify %}
                        {{ value }} pcs
                        {% endif %}
                        {% endfor %}
                    </small>
                    <hr>
                    {% endfor %}
                    <strong>Total: ${{ totals }}</strong>
                    <br><br>
                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                </div>
            </div>

            <!-- Shipping Info Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Shipping Info
                </div>
                <div class="card-body">
                    <p>Name: {{ shipping_info.shipping_full_name }}</p>
                    <p>Email: {{ shipping_info.shipping_email }}</p>
                    <p>Address 1: {{ shipping_info.shipping_address1 }}</p>
                    <p>Address 2: {{ shipping_info.shipping_address2 }}</p>
                    <p>City: {{ shipping_info.shipping_city }}</p>
                    <p>Country: {{ shipping_info.shipping_country }}</p>
                    <p>Zipcode: {{ shipping_info.shipping_zipcode }}</p>
                    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
                </div>
            </div>

            <!-- Billing Info Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Billing Info
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                        {{ billing_form.as_p }}

                        <!-- Pay Now Button -->
                        <div class="text-end mt-4">
                            <button type="submit" class="btn btn-secondary">Pay Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}